<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

	<!--  -->
	<import resource="persistenceConfig.xml" />
	<!--  -->

	<!-- INICIO: Repositories -->
	<bean id="sexoRepository" class="ar.uba.fi.criaderoxp.domain.repository.SexoRepositoryImpl" />
	<bean id="activityRepository" class="ar.uba.fi.criaderoxp.domain.repository.ActivityRepositoryImpl" />
	<bean id="estadoRepository" class="ar.uba.fi.criaderoxp.domain.repository.EstadoRepositoryImpl" />
	<!-- FIN: Repositories -->

	<!-- INICIO: Capa de servicios -->
	<!--
		<bean id="conejoService"
		class="ar.uba.fi.criaderoxp.domain.service.ConejoServiceImpl" /> <bean
		id="usuarioService"
		class="ar.uba.fi.criaderoxp.domain.service.UsuarioServiceImpl" />
	-->
	<!-- FIN: Capa de servicios -->
</beans>

